h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
table {
    border-style: solid;
    border-color: #000000;
    margin: auto;
    position: relative;
}
tr td {
    height: 60px;
    width: 60px;
}
.light-cell {
    background: rgb(142, 81, 81);
    width: 45px;
    height: 45px;
    user-select: none;
}
.dark-cell {
    background: rgb(106, 106, 106);
    width: 45px;
    height: 45px;
    user-select: none;
}
img {
    height: 30px;
    width: 30px;
    margin: 5px;
}
/* 5 classes for decoration the potential movement */
.selected-cell{
    background: blueviolet;
}
.possible-move {
    background: green;
}
.enemy {
    background: red;
}
.Potential-Movment{
    opacity: 0.8;
}
.winner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px;
    border-radius: 10px;
    width: max-content;

}
