body {
    background-color: rgb(70, 81, 81);
}

h1,
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}

table {
    border-style: solid;
    border-color: black;
    margin: auto;
    position: relative;
}

.light-cell {
    background: rgb(254, 196, 147);
    width: 45px;
    height: 45px;
    user-select: none;
}

.dark-cell {
    background: rgb(145, 89, 58);
    width: 45px;
    height: 45px;
    user-select: none;
}

img {
    display: block;
    height: 30px;
    width: 30px;
    margin: auto;
}

/* 5 classes for decoration the potential movement */
.Potential-Movment {
    opacity: 0.6;
}

.selected-cell {
    background: rgb(91, 55, 36);
}

.possible-move {
    background: rgb(44, 125, 44);
}

.enemy {
    background: rgb(20, 252, 20);
}

.winner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(135, 159, 159);
    padding: 50px;
    border-radius: 10px;
    width: max-content;
    font-family: 'Franklin Gothic Medium';
}